body             { background: lightblue; }

#page-wrap:after { content: "Smartphone Layout"; }

h2 span, section h3 { display: none; }
body                { font-size: x-small; }
footer, input       { font-size: xx-small; }
